@import '../../App.scss';

.movieList__title{
    font-size: 2rem;
    font-weight: 900;
    margin: 0.9rem 0;
    text-align: center;
}

.movieList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
}
