@import '../../App.scss';

.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    
    .header__logo {
        flex: 1;
        padding-left: 2%;
        font-size: 1.2rem;

        img{
            width: 80px;
            cursor: pointer;
            padding: 1rem 0;
        }


    }

    .header__nav {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2%;

        .nav__item {
            padding: 0 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            font-size: 0.9rem;
            &:hover,
            &:active,
            &:focus {
                color: $primary;
            }

            @media screen and (min-width: 768px) {
                font-size: 1rem;
            }
        }

        
    }
}
