@import '../../App.scss';

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
    }

    .movie__poster {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

        img {
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
        }

        @media (min-width: 768px) {
            width: 100%;
            max-width: 800px;
        }
    }

    .movie__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;

        .movie__name {
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 0.5rem;
            text-align: left;
        }

        .movie__tagline {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0.5rem;
            text-align: left;
        }

        .movie__rating {
            font-weight: 800;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            justify-content: center;

            span{
                font-size: 1.2rem;
                font-weight: 900;
                display: flex;
                flex-direction: row;
                align-items: center;
                ion-icon {
                    font-size: 1.2rem;
                    --ionicon-stroke-width: 56px;
                }
            }

            .movie__runtime{
                font-size: 1rem;
                font-weight: 500;
                text-align: left;
                text-decoration: underline;

            }
        }
    }

    .movie__releaseDate{
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .movie__overview{
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        text-align: left;
        font-style: italic;
    }

    .movie__links{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        max-width: 500px;
        gap: 1rem;

        .movie__link__button{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: $primary;
            color: $dark;
            font-size: 1rem;
            font-weight: 800;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover{
                background-color: rgba(0, 0, 0, 0.8);
                color: $light;
                border: 1px solid $light;
            }
        }
    }

}
